$custom-checkbox-indicator-border-radius: 100%;
$custom-control-indicator-checked-bg: $green;
$custom-control-indicator-checked-disabled-bg: $green;

$primary: $green;
$yiq-text-dark: #ffffff;

$link-hover-color: $default_text_color;

$modal-header-border-color: #ffffff;